@import "../00_Abstracts/index.scss";

.movie-summary {
    border-radius: 0;
    @include box-shadow(md);

    @include hover-focus-active {
        .card-img-overlay {
            background-color: color(black, base, 0.5);
        }
    }

    .card-img-top {
        border-radius: 0;
    }

    .card-title {
        text-shadow: 2px 2px color(dark);
    }

    .card-img-overlay {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
}